*{
    background-color: black;
    color: white;
}
p{
    background-color: orangered;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    height: 10rem;
    width: 50rem;
}
img{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    height: 10rem;
}
h2{
    background-color: orangered;
    border-radius: 12px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: auto;
    width: auto;
    background-color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li
{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orangered;
    border-radius: 2px;
    
    
}#iconoUnahur{
    width: 50rem;
    height: 10rem;
    background-color: black;
    border-radius: 12px;
    margin-left: 15rem;
    margin-right: 10rem;
}
.iconos{
    height: 2rem;
    width: 2rem;
    background-color: white;
}